In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./datasets/WestCoast.csv')
df.head()

/Users/erinhwang/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,address,category1,category2,category3,category4,category5,city,id,latitude,longitude,name,phone,price,rating,zip_code
0,71,1517 E Florence Ave,mexican,NaN,NaN,NaN,NaN,Los Angeles,RVJ7CtzHbSIXySMJ7uJw9w,33.974990,-118.246960,El Senor Taco,1.323582e+10,$,3.5,90001
1,109,7600 Graham Ave,parks,playgrounds,recreation,NaN,NaN,Los Angeles,73_9SM3HCAPZi6VmjjY2Rg,33.970200,-118.242040,Franklin D Roosevelt Park,1.323587e+10,NaN,4.5,90001
2,111,NaN,desserts,chocolate,NaN,NaN,NaN,Los Angeles,XuDsBBkKMgyb19qrCG-Vxw,33.973630,-118.249890,Brigadier Sweets,1.213281e+10,$$,5.0,90001
3,118,NaN,foodtrucks,african,NaN,NaN,NaN,Los Angeles,E02jtyN7b9LJW8bJwX97kA,33.978530,-118.249700,African Chop,1.408430e+10,NaN,4.5,90001
4,129,757 S La Brea Ave,foodtrucks,mexican,NaN,NaN,NaN,Los Angeles,KWKkQHHwVBPS_4abj-DaYw,34.060716,-118.344931,Huitlacoche,1.323381e+10,$,4.5,90017

In [3]:
df.dtypes

Unnamed: 0      int64
address        object
category1      object
category2      object
category3      object
category4      object
category5      object
city           object
id             object
latitude      float64
longitude     float64
name           object
phone         float64
price          object
rating        float64
zip_code       object
dtype: object

### Note: Zip Code is an Object

#### Keeping all zip codes that start with 9
<img src= "./visuals/zip-codes.png">

In [4]:
#keeping only zip ocdes that start with 9
df = df[df['zip_code'].astype(str).str.startswith('9')]

In [5]:
df.shape

(82870, 16)

In [6]:
df.head(50)

,Unnamed: 0,address,category1,category2,category3,category4,category5,city,id,latitude,longitude,name,phone,price,rating,zip_code
0,71,1517 E Florence Ave,mexican,NaN,NaN,NaN,NaN,Los Angeles,RVJ7CtzHbSIXySMJ7uJw9w,33.974990,-118.246960,El Senor Taco,1.323582e+10,$,3.5,90001
1,109,7600 Graham Ave,parks,playgrounds,recreation,NaN,NaN,Los Angeles,73_9SM3HCAPZi6VmjjY2Rg,33.970200,-118.242040,Franklin D Roosevelt Park,1.323587e+10,NaN,4.5,90001
2,111,NaN,desserts,chocolate,NaN,NaN,NaN,Los Angeles,XuDsBBkKMgyb19qrCG-Vxw,33.973630,-118.249890,Brigadier Sweets,1.213281e+10,$$,5.0,90001
3,118,NaN,foodtrucks,african,NaN,NaN,NaN,Los Angeles,E02jtyN7b9LJW8bJwX97kA,33.978530,-118.249700,African Chop,1.408430e+10,NaN,4.5,90001
4,129,757 S La Brea Ave,foodtrucks,mexican,NaN,NaN,NaN,Los Angeles,KWKkQHHwVBPS_4abj-DaYw,34.060716,-118.344931,Huitlacoche,1.323381e+10,$,4.5,90017
5,137,NaN,burgers,foodtrucks,catering,NaN,NaN,Los Angeles,6u6f65BVZfYHv8sHo_m1JA,33.979080,-118.250090,The Slider Guy,1.562234e+10,NaN,5.0,90001
6,147,1811 E Florence Ave,bakeries,cupcakes,customcakes,NaN,NaN,Los Angeles,CLjfvoXj3GFle3_HFtzllA,33.974865,-118.240467,Butterfly Cake Shop,1.323586e+10,$$,4.0,90001
7,238,1633 E 103rd St,salad,NaN,NaN,NaN,NaN,Los Angeles,4iI6_cUb8bHxJXD74Ea1LA,33.943209,-118.245038,Everytable,1.323459e+10,NaN,5.0,90002
8,279,2701 Firestone Blvd,mexican,NaN,NaN,NaN,NaN,South Gate,1tuL7XnMPnB7jkZBD0EEYA,33.956748,-118.223968,Lax Tacos,1.323566e+10,$,4.0,90280
9,291,8330 Long Beach Blvd,juicebars,sandwiches,NaN,NaN,NaN,South Gate,6qSJR02mm_NiUq6cEGE97Q,33.962430,-118.223950,Raspados Jalisco,1.323485e+10,$,4.5,90280
10,299,2709 Firestone Blvd,breakfast_brunch,burgers,NaN,NaN,NaN,South Gate,2EMSIgZ4NJ2cDUaNWXahXw,33.956349,-118.224610,Bobo's Hamburgers,1.323250e+10,$,3.5,90280
11,320,337 E Florence Ave,mexican,foodstands,NaN,NaN,NaN,Los Angeles,BkJzIJ4ulHgbYXpkxhGUrw,33.974970,-118.268210,Tacos Arandas,NaN,$,4.5,90003
12,342,1020 E Florence Ave,mexican,seafood,NaN,NaN,NaN,Los Angeles,lxcQvJy1SAHE-gWhyFMN-w,33.974520,-118.256720,Mariscos Mi Lindo Nayarit,1.323590e+10,$$,3.5,90001
13,360,1410 W Florence Ave,hotdog,hotdogs,foodstands,NaN,NaN,Los Angeles,f2moDZ2j8FZ7k_XMz4a95g,33.974270,-118.300800,Art's Famous Chili Dog Stand,1.323750e+10,$,4.5,90047
14,361,NaN,foodtrucks,comfortfood,sandwiches,NaN,NaN,Los Angeles,ylvMdzshyVIIMluPzH7uTA,33.973970,-118.249890,Word Of Mouth Truck,1.323610e+10,$$,4.0,90001
15,363,1348 W Manchester Ave,foodtrucks,tacos,NaN,NaN,NaN,Los Angeles,PI1MI_rkx9QRLJv7n_qHNQ,33.959865,-118.299776,Tacos El Gallazo,NaN,$,4.5,90044
16,367,NaN,foodtrucks,mexican,NaN,NaN,NaN,Los Angeles,6_lTposgfhxvJmbpKyyGgA,33.968600,-118.274740,Los Tamaleros,1.747273e+10,$,4.0,90003
17,369,1664 E Florence Ave,burgers,NaN,NaN,NaN,NaN,Los Angeles,_EpkYp1nYMuH8V0iwG8JTw,33.974555,-118.243798,Bill's Drive In,1.323588e+10,$,4.5,90001
18,373,5630 S Central Ave,burgers,NaN,NaN,NaN,NaN,Los Angeles,8jli1kBhKRw3SluKvwyr8g,33.991413,-118.256095,The Original Snack Shack,1.323233e+10,$,4.5,90011
19,374,8442 S Normandie Ave,icecream,NaN,NaN,NaN,NaN,Los Angeles,H8G0X4TtpPQH0CaXLpXZrA,33.961140,-118.300072,Jean's Ice Cream,1.323751e+10,$,4.5,90044
20,376,8472 S Central Ave,bbq,southern,NaN,NaN,NaN,Los Angeles,EHJycRKAYIaJUcRv-D1Pvg,33.961300,-118.256100,Smokin' Telle's BBQ and Grill,1.323997e+10,NaN,4.0,90001
21,379,6300 S Figueroa St,soulfood,mexican,NaN,NaN,NaN,Los Angeles,M_B-TSGfMFbW1mzK0A3ErQ,33.982182,-118.282326,The Family Mexican & Soul Food Restaurant,1.323827e+10,$$,4.0,90003
22,381,6700 S Central Ave,pizza,mexican,NaN,NaN,NaN,Los Angeles,eKRzZIbPoTpk9YC3OHKw4A,33.979045,-118.256073,Andy's Pizzeria And Mexican Food,1.323537e+10,$,4.0,90001
23,385,5875 Hooper Ave,mexican,NaN,NaN,NaN,NaN,Los Angeles,s-ReMKeAoJNfKKdwzvwAtg,33.988014,-118.252255,Las Islitas No 1,1.323235e+10,$$,4.0,90001
24,388,NaN,streetvendors,herbsandspices,NaN,NaN,NaN,Los Angeles,vZYsH-d7k7COPUmyvKthcA,33.978828,-118.249931,GaiGan Thai Street Food And Chili Sauces,1.818626e+10,$$,5.0,90001
25,389,NaN,foodtrucks,burgers,hotdog,NaN,NaN,Los Angeles,9ZxnEb6IaQVJ1nMiaUQF-A,33.979080,-118.250090,The Garbage Truck,1.424235e+10,$,3.5,90001
26,391,1132 Firestone Blvd,salvadoran,NaN,NaN,NaN,NaN,Los Angeles,XeALMPvVEoQf1_4YhTk-lw,33.960025,-118.255412,Pupuseria La Favorita,1.323585e+10,$,4.5,90001
27,394,1734 E Florence Ave,mexican,NaN,NaN,NaN,NaN,Los Angeles,KAvvuHFEtWEK3C4kl5VTPg,33.974420,-118.241900,Birrieria Tlaquepaque,1.323581e+10,$$,4.0,90001
28,395,6900 S San Pedro St,mexican,NaN,NaN,NaN,NaN,Los Angeles,hVWa_b2hRXU8ETXUblbMmg,33.976807,-118.269264,Ramona's Mexican Food Products,1.323752e+10,$,3.5,90003
29,402,708 Florence Ave,newamerican,pizza,NaN,NaN,NaN,Los Angeles,x2rWmUldqK6F4yV8jgJfIw,33.974331,-118.286362,Brix Pizza,1.323750e+10,$,3.5,90044
30,405,NaN,streetvendors,NaN,NaN,NaN,NaN,Los Angeles,meku2U-toMqBCClLSkvogA,33.978828,-118.249931,Macheen,1.424224e+10,$$,4.5,90001
31,414,9131 S Vermont Ave,latin,honduran,breakfast_brunch,NaN,NaN,Los Angeles,xCX8afWpiTJKYkRo7wOoLw,33.953610,-118.292250,La Casa Honduras,1.323777e+10,$$,3.5,90044
32,415,8509 S Figueroa St,pizza,NaN,NaN,NaN,NaN,Los Angeles,G6RuoIGV5fX7TqyzWpgeaw,33.960672,-118.283277,Tumby's Pizza,1.323759e+10,$,3.5,90044
33,419,NaN,localflavor,NaN,NaN,NaN,NaN,Los Angeles,QwuWD3WlibNS14xp2XfEsw,33.964581,-118.272835,South Central Neighborhood,NaN,NaN,4.5,90003
34,422,8215 1/2 S Broadway,bakeries,NaN,NaN,NaN,NaN,Los Angeles,Z1hmsqlhZjokSkoSrk0FlQ,33.964583,-118.278501,Ibarra Bakery,1.323971e+10,$,4.5,90003
35,423,1774 E Florence Ave,burgers,NaN,NaN,NaN,NaN,Los Angeles,f-qcXHRedFf-p3tZEAojtw,33.974410,-118.240870,Boys Burgers,1.323588e+10,$,4.0,90001
36,424,NaN,japanese,sushi,NaN,NaN,NaN,Los Angeles,JhaM-bKmSmKIrXquHnJMdg,33.978828,-118.249931,Norigami,NaN,NaN,4.5,90001
37,426,1632 Firestone Blvd,chinese,NaN,NaN,NaN,NaN,Los Angeles,cygCM1bBclo3bPTbXtRbHg,33.960015,-118.244857,Hong Kong Bowl,1.323585e+10,$,4.5,90001
38,427,1938 E Florence Ave,mexican,NaN,NaN,NaN,NaN,Los Angeles,SnCYLASSE28SbOtiXiCaMA,33.974585,-118.237891,Cocina Dona Chona,1.323581e+10,$,4.5,90001
39,428,6365 S Alameda St,mexican,NaN,NaN,NaN,NaN,Huntington Park,1BM123KELCDfKc4JJsvrPg,33.981507,-118.236568,Birreria El Guero,1.323583e+10,$,4.5,90255
40,429,7008 S San Pedro St,pizza,NaN,NaN,NaN,NaN,Los Angeles,eUSAIHvAjHawTvXZ9r_MTQ,33.975853,-118.269279,Pizzamania,1.323778e+10,$,3.5,90003
41,430,654 E Gage Ave,tacos,sandwiches,NaN,NaN,NaN,Los Angeles,kGsnXgfqXaNil8tSQRL9UQ,33.981600,-118.263140,Hacienda Granados,1.323750e+10,$,4.5,90001
42,431,NaN,streetvendors,vietnamese,NaN,NaN,NaN,Los Angeles,_mVk5IOqRl4sALpJWmbrZQ,33.974087,-118.249832,TJ's Tacos LA,1.818448e+10,$,5.0,90001
43,432,1760 E Florence Ave,icecream,juicebars,NaN,NaN,NaN,Los Angeles,l6GUuacIiYutc9dccATkpw,33.974499,-118.241097,El Paraiso Ice Cream & Fruit Bars,1.323587e+10,$,4.0,90001
44,434,6401 S San Pedro St,seafood,mexican,NaN,NaN,NaN,Los Angeles,urVIOkga4sNNebkrkalOYQ,33.981360,-118.269850,Las Islas Marias,1.323754e+10,$$,3.0,90003
45,435,1658 W Manchester Ave,fishnchips,NaN,NaN,NaN,NaN,Los Angeles,lr_C5FIOZV5fzxH58uNcJQ,33.959656,-118.306641,Happy Fish Market,1.323750e+10,$,4.0,90047
46,436,NaN,chicken_wings,catering,foodtrucks,NaN,NaN,Los Angeles,9Zx9FRtyZvnSKJjh6VJNgg,33.973970,-118.249890,Wing Society,1.424383e+10,NaN,4.5,90001
47,437,1848 W Florence Ave,bakeries,customcakes,NaN,NaN,NaN,Los Angeles,HQoJNMj2pkistgNYbGniQA,33.974290,-118.310820,Lupita's Bakery,1.323752e+10,$$,3.5,90047
48,439,5790 Compton Ave,parks,recreation,NaN,NaN,NaN,Los Angeles,UakbIQllWTYjSLj55_f83A,33.990181,-118.247627,Augustus F Hawkins Natural Park,1.323581e+10,NaN,4.5,90011
49,440,1114 E Firestone Blvd,mexican,NaN,NaN,NaN,NaN,Los Angeles,zTxMfTxnxZ4gRdcTjGPLnw,33.959888,-118.255783,La Cemita Poblana,1.323581e+10,$,4.0,90001

In [7]:
#sanity check
df.index.is_monotonic

True

### Let's Map the `price` column to numeric value

In [8]:
df['price'] = df['price'].map({'$': 1, '$$': 2, '$$$': 3, '$$$$': 4})

In [9]:
df['price'].value_counts(dropna = False)

 2.0    37719
 1.0    29171
NaN     13535
 3.0     2086
 4.0      359
Name: price, dtype: int64

### We have empty `price` cells. We were thinking if imputing them, but that might create more bias in our data. Instead, we're going to delete all rows where `price` is empty.

In [10]:
df['zip_code'].isnull().sum()

0

In [11]:
#keeping the features I want 
features = ['category1', 'category2', 'category3', 'category4', 'category5', 'city', 'latitude', 'longitude','price', 'rating','zip_code']

In [13]:
west_df = df[features]
west_df.head(20)

,category1,category2,category3,category4,category5,city,latitude,longitude,price,rating,zip_code
0,mexican,NaN,NaN,NaN,NaN,Los Angeles,33.974990,-118.246960,1.0,3.5,90001
1,parks,playgrounds,recreation,NaN,NaN,Los Angeles,33.970200,-118.242040,NaN,4.5,90001
2,desserts,chocolate,NaN,NaN,NaN,Los Angeles,33.973630,-118.249890,2.0,5.0,90001
3,foodtrucks,african,NaN,NaN,NaN,Los Angeles,33.978530,-118.249700,NaN,4.5,90001
4,foodtrucks,mexican,NaN,NaN,NaN,Los Angeles,34.060716,-118.344931,1.0,4.5,90017
5,burgers,foodtrucks,catering,NaN,NaN,Los Angeles,33.979080,-118.250090,NaN,5.0,90001
6,bakeries,cupcakes,customcakes,NaN,NaN,Los Angeles,33.974865,-118.240467,2.0,4.0,90001
7,salad,NaN,NaN,NaN,NaN,Los Angeles,33.943209,-118.245038,NaN,5.0,90002
8,mexican,NaN,NaN,NaN,NaN,South Gate,33.956748,-118.223968,1.0,4.0,90280
9,juicebars,sandwiches,NaN,NaN,NaN,South Gate,33.962430,-118.223950,1.0,4.5,90280
10,breakfast_brunch,burgers,NaN,NaN,NaN,South Gate,33.956349,-118.224610,1.0,3.5,90280
11,mexican,foodstands,NaN,NaN,NaN,Los Angeles,33.974970,-118.268210,1.0,4.5,90003
12,mexican,seafood,NaN,NaN,NaN,Los Angeles,33.974520,-118.256720,2.0,3.5,90001
13,hotdog,hotdogs,foodstands,NaN,NaN,Los Angeles,33.974270,-118.300800,1.0,4.5,90047
14,foodtrucks,comfortfood,sandwiches,NaN,NaN,Los Angeles,33.973970,-118.249890,2.0,4.0,90001
15,foodtrucks,tacos,NaN,NaN,NaN,Los Angeles,33.959865,-118.299776,1.0,4.5,90044
16,foodtrucks,mexican,NaN,NaN,NaN,Los Angeles,33.968600,-118.274740,1.0,4.0,90003
17,burgers,NaN,NaN,NaN,NaN,Los Angeles,33.974555,-118.243798,1.0,4.5,90001
18,burgers,NaN,NaN,NaN,NaN,Los Angeles,33.991413,-118.256095,1.0,4.5,90011
19,icecream,NaN,NaN,NaN,NaN,Los Angeles,33.961140,-118.300072,1.0,4.5,90044

In [14]:
import numpy as np

In [15]:
#fillin all NaNs with 
west_df[['category1', 'category2', 'category3', 'category4', 'category5']] = west_df[['category1', 'category2', 'category3', 'category4', 'category5']].fillna('?')

/Users/erinhwang/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [17]:
west_df.head()

,category1,category2,category3,category4,category5,city,latitude,longitude,price,rating,zip_code
0,mexican,?,?,?,?,Los Angeles,33.974990,-118.246960,1.0,3.5,90001
1,parks,playgrounds,recreation,?,?,Los Angeles,33.970200,-118.242040,NaN,4.5,90001
2,desserts,chocolate,?,?,?,Los Angeles,33.973630,-118.249890,2.0,5.0,90001
3,foodtrucks,african,?,?,?,Los Angeles,33.978530,-118.249700,NaN,4.5,90001
4,foodtrucks,mexican,?,?,?,Los Angeles,34.060716,-118.344931,1.0,4.5,90017

In [59]:
west_df.to_csv('./datasets/west_df.csv')

In [18]:
cats = ['category1', 'category2', 'category3', 'category4', 'category5', 'zip_code']
cat_df = west_df[cats]
cat_df.head()

    category1    category2   category3 category4 category5 zip_code
0     mexican            ?           ?         ?         ?    90001
1       parks  playgrounds  recreation         ?         ?    90001
2    desserts    chocolate           ?         ?         ?    90001
3  foodtrucks      african           ?         ?         ?    90001
4  foodtrucks      mexican           ?         ?         ?    90017

In [36]:
cat_df.groupby('zip_code')[['category1', 'category2', 'category3', 'category4', 'category5']].apply(np.unique)

TypeError: Series.name must be a hashable type

In [24]:
categories_df = cat_df.astype(str).groupby('zip_code').agg(lambda x: ', '.join(x.unique()))

In [25]:
categories_df.head()

,category1,category2,category3,category4,category5
zip_code,,,,,
90000,salad,tradamerican,wraps,?,?
90001,"mexican, parks, desserts, foodtrucks, burgers,...","?, playgrounds, chocolate, african, foodtrucks...","?, recreation, catering, customcakes, sandwich...",?,?
90002,"salad, salvadoran, chinese, coffee","?, juicebars, breakfast_brunch","?, desserts",?,?
90003,"mexican, foodtrucks, soulfood, localflavor, ba...","foodstands, mexican, ?, noodles, sandwiches, s...","?, tradamerican, waffles, soulfood",?,?
90004,"bakeries, salvadoran, sushi, coffee, breakfast...","coffee, ?, cafes, vegan, comfortfood, chinese,...","cakeshop, ?, vegetarian, soup, noodles, korean...",?,?

In [38]:
type(categories_df['category1'][1])

str

In [39]:
west_df.shape

(82870, 11)

In [ ]:
west_df.isnull().sum()

In [ ]:
#removing empty cells where price is blank
west_df = west_df.dropna(axis = 0, subset= ['price'])

In [ ]:
west_df.isnull().sum()

In [ ]:
#imputing the three rows where lat and long are missing- grouping by zip code
west_df['latitude'].fillna(west_df.groupby('zip_code')['latitude'].transform('mean'), inplace = True)
west_df['longitude'].fillna(west_df.groupby('zip_code')['longitude'].transform('mean'), inplace = True)

In [ ]:
west_df.isnull().sum()

In [ ]:
west_df.head()

### As of now, our data set has filled columns for `latitude`, `longitude`, `price`, `rating`, and `zip_code`

### Let's add a column that denotes the number of businesses for each zip code

In [ ]:
len(west_df[west_df['zip_code'] == '90017'])

In [ ]:
west_df['rating'].value_counts()

In [ ]:
#adding count of businesses based on zip_code
west_df['count'] = west_df.groupby('zip_code')['zip_code'].transform('count')

In [ ]:
west_df.head()

### Summarize by row

In [ ]:
pivot_df = west_df.pivot_table(index = 'zip_code')

In [ ]:
pivot_df.head()

In [ ]:
features = ['count', 'latitude', 'longitude']
p_df = pivot_df[features]

In [ ]:
p_df.reset_index(level=0, inplace=True)

In [ ]:
p_df.isnull().sum()

In [ ]:
p_df.head()

In [ ]:
# import numpy as np

# price_not_empty = df[np.isfinite(df['price'])]

In [ ]:
count_price = (pd.crosstab(west_df["zip_code"], west_df['price']))

In [ ]:
count_rate = (pd.crosstab(west_df["zip_code"], west_df['rating']))

In [ ]:
count_price.reset_index(level=0, inplace=True)

In [ ]:
count_rate.reset_index(level=0, inplace=True)

In [ ]:
count_price.head()

In [ ]:
count_rate.head()

In [ ]:
#let's join the tables 

df_counts = pd.merge(count_price, count_rate, left_on = 'zip_code', right_on = 'zip_code')

In [ ]:
df_counts.head()

In [ ]:
#renaming columns
df_counts.rename(columns={'1.0_x':'Price_1',
                          '2.0_x':'Price_2',
                          '3.0_x':'Price_3',
                          '4.0_x':'Price_4',
                          '1.0_y':'Rating_1',
                           1.5:'Rating_1.5',
                          '2.0_y':'Rating_2',
                           2.5:'Rating_2.5',
                          '3.0_y':'Rating_3',
                           3.5:'Rating_3.5',
                          '4.0_y':'Rating_4',
                           4.5:'Rating_4.5',
                           5.0:'Rating_5'}, inplace= True)

In [ ]:
df_counts.columns

In [ ]:
df_counts.head()

In [ ]:
df = pd.merge(p_df, df_counts, left_on = 'zip_code', right_on = 'zip_code')

In [ ]:
df.head()

In [ ]:
df['count_businesses'] = df['Price_1'] + df['Price_2'] + df['Price_3'] + df['Price_4']

In [ ]:
df.head()

In [ ]:
feat = ['city', 'zip_code']
cities = west_df[feat]

In [ ]:
cities.drop_duplicates(subset = 'zip_code', keep = 'last', inplace = True)

In [ ]:
cities.head()

In [ ]:
cities.shape

In [ ]:
df.shape

In [ ]:
#merging cities with df
df = pd.merge(df, cities, left_on = 'zip_code', right_on = 'zip_code')

In [ ]:
df.tail()

In [ ]:
df.head()

In [ ]:
df.isnull().sum().sum()

In [ ]:
df.to_csv('./datasets/summarized.csv')

In [ ]:
df.shape