In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./datasets/Grandma.csv')
df.head()

,Unnamed: 0,zip_code,count,latitude,longitude,Price_1,Price_2,Price_3,Price_4,Rating_1,...,wineries,winetasteclasses,winetastingroom,winetours,womenscloth,wraps,yelpevents,yoga,zoos,income
0,0,90001,30,33.976530,-118.249230,18,12,0,0,0,...,0,0,0,0,0,0,0,0,0,35660
1,1,90002,4,33.948102,-118.248582,3,1,0,0,0,...,0,0,0,0,0,0,0,0,0,34000
2,2,90003,20,33.971906,-118.272539,16,4,0,0,0,...,0,0,0,0,0,0,0,0,0,34397
3,3,90004,29,34.076563,-118.310331,10,19,0,0,0,...,0,0,0,0,0,0,0,0,0,46581
4,4,90005,45,34.059083,-118.298835,11,33,1,0,0,...,0,0,0,0,0,0,0,0,0,32461

# Feature Engineering Price

In [3]:
df['price_1_percentage'] = df['Price_1']/ df['count']

In [4]:
#sanity check if it worked 
df.head()

,Unnamed: 0,zip_code,count,latitude,longitude,Price_1,Price_2,Price_3,Price_4,Rating_1,...,winetasteclasses,winetastingroom,winetours,womenscloth,wraps,yelpevents,yoga,zoos,income,price_1_percentage
0,0,90001,30,33.976530,-118.249230,18,12,0,0,0,...,0,0,0,0,0,0,0,0,35660,0.600000
1,1,90002,4,33.948102,-118.248582,3,1,0,0,0,...,0,0,0,0,0,0,0,0,34000,0.750000
2,2,90003,20,33.971906,-118.272539,16,4,0,0,0,...,0,0,0,0,0,0,0,0,34397,0.800000
3,3,90004,29,34.076563,-118.310331,10,19,0,0,0,...,0,0,0,0,0,0,0,0,46581,0.344828
4,4,90005,45,34.059083,-118.298835,11,33,1,0,0,...,0,0,0,0,0,0,0,0,32461,0.244444

In [5]:
df['price_2_percentage'] = df['Price_2']/ df['count']
df['price_3_percentage'] = df['Price_3']/ df['count']
df['price_4_percentage'] = df['Price_4']/ df['count']

In [6]:
df.head()

,Unnamed: 0,zip_code,count,latitude,longitude,Price_1,Price_2,Price_3,Price_4,Rating_1,...,womenscloth,wraps,yelpevents,yoga,zoos,income,price_1_percentage,price_2_percentage,price_3_percentage,price_4_percentage
0,0,90001,30,33.976530,-118.249230,18,12,0,0,0,...,0,0,0,0,0,35660,0.600000,0.400000,0.000000,0.0
1,1,90002,4,33.948102,-118.248582,3,1,0,0,0,...,0,0,0,0,0,34000,0.750000,0.250000,0.000000,0.0
2,2,90003,20,33.971906,-118.272539,16,4,0,0,0,...,0,0,0,0,0,34397,0.800000,0.200000,0.000000,0.0
3,3,90004,29,34.076563,-118.310331,10,19,0,0,0,...,0,0,0,0,0,46581,0.344828,0.655172,0.000000,0.0
4,4,90005,45,34.059083,-118.298835,11,33,1,0,0,...,0,0,0,0,0,32461,0.244444,0.733333,0.022222,0.0

# Feature Engineering Ratings

In [7]:
ratings_col = [col for col in df if col.startswith('Rating')]
ratings_col

['Rating_1',
 'Rating_1.5',
 'Rating_2',
 'Rating_2.5',
 'Rating_3',
 'Rating_3.5',
 'Rating_4',
 'Rating_4.5',
 'Rating_5']

In [8]:
df['rate_1_percentage'] = df['Rating_1']/ df['count']
df['rate_1.5_percentage'] = df['Rating_1.5']/ df['count']
df['rate_2_percentage'] = df['Rating_2']/ df['count']

df['rate_2.5_percentage'] = df['Rating_2.5']/ df['count']
df['rate_3_percentage'] = df['Rating_3']/ df['count']
df['rate_3.5_percentage'] = df['Rating_3.5']/ df['count']

df['rate_4_percentage'] = df['Rating_4']/ df['count']
df['rate_4.5_percentage'] = df['Rating_4.5']/ df['count']
df['rate_5_percentage'] = df['Rating_5']/ df['count']

In [9]:
df.head()

,Unnamed: 0,zip_code,count,latitude,longitude,Price_1,Price_2,Price_3,Price_4,Rating_1,...,price_4_percentage,rate_1_percentage,rate_1.5_percentage,rate_2_percentage,rate_2.5_percentage,rate_3_percentage,rate_3.5_percentage,rate_4_percentage,rate_4.5_percentage,rate_5_percentage
0,0,90001,30,33.976530,-118.249230,18,12,0,0,0,...,0.0,0.0,0.0,0.0,0.00,0.000000,0.200000,0.266667,0.433333,0.100000
1,1,90002,4,33.948102,-118.248582,3,1,0,0,0,...,0.0,0.0,0.0,0.0,0.00,0.000000,0.000000,0.750000,0.250000,0.000000
2,2,90003,20,33.971906,-118.272539,16,4,0,0,0,...,0.0,0.0,0.0,0.0,0.05,0.050000,0.150000,0.350000,0.350000,0.050000
3,3,90004,29,34.076563,-118.310331,10,19,0,0,0,...,0.0,0.0,0.0,0.0,0.00,0.000000,0.034483,0.655172,0.206897,0.103448
4,4,90005,45,34.059083,-118.298835,11,33,1,0,0,...,0.0,0.0,0.0,0.0,0.00,0.022222,0.133333,0.511111,0.333333,0.000000

# Creating Dummy Variables for Cities

In [18]:
df = pd.get_dummies(df, columns = ['city'])

In [19]:
df.head()

,Unnamed: 0,zip_code,count,latitude,longitude,Price_1,Price_2,Price_3,Price_4,Rating_1,...,city_Yorba Linda,city_Yosemite National Park,city_Yountville,city_Yreka,city_Yuba City,city_Yucaipa,city_Yucca Valley,city_Zamora,city_Zillah,city_carlsbad
0,0,90001,30,33.976530,-118.249230,18,12,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,90002,4,33.948102,-118.248582,3,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,90003,20,33.971906,-118.272539,16,4,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,90004,29,34.076563,-118.310331,10,19,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,90005,45,34.059083,-118.298835,11,33,1,0,0,...,0,0,0,0,0,0,0,0,0,0

# Let's select key features we want to feed in our Elastic Net Model to determine best optimal features for other regression models
- This is called modeling as EDA

In [20]:
#category list
categories = list(df.loc[:, 'acaibowls':'zoos'].columns)

In [21]:
len(categories)

468

In [22]:
#creating a list of all percentage columns (should be 13 columns total)
percentage_col = [col for col in df if col.endswith('percentage')]
percentage_col

['price_1_percentage',
 'price_2_percentage',
 'price_3_percentage',
 'price_4_percentage',
 'rate_1_percentage',
 'rate_1.5_percentage',
 'rate_2_percentage',
 'rate_2.5_percentage',
 'rate_3_percentage',
 'rate_3.5_percentage',
 'rate_4_percentage',
 'rate_4.5_percentage',
 'rate_5_percentage']

In [23]:
len(percentage_col)

13

In [24]:
#creating list of cities (should be 1547)
cities_col = [col for col in df if col.startswith('city')]
cities_col

['city_Aberdeen',
 'city_Acampo',
 'city_Acme',
 'city_Acton',
 'city_Adin',
 'city_Agoura Hills',
 'city_Agua Dulce',
 'city_Aguanga',
 'city_Ahwahnee',
 'city_Aiea',
 'city_Airway Heights',
 'city_Alameda',
 'city_Alamo',
 'city_Albany',
 'city_Albion',
 'city_Algona',
 'city_Alhambra',
 'city_Aliso Viejo',
 'city_Allyn',
 'city_Alpine',
 'city_Alsea',
 'city_Alturas',
 'city_Alviso',
 'city_Amanda Park',
 'city_Amboy',
 'city_American Canyon',
 'city_Amity',
 'city_Anacortes',
 'city_Anaheim',
 'city_Anahola',
 'city_Anchor Point',
 'city_Anchorage',
 'city_Anderson',
 'city_Anderson Island',
 'city_Angels Camp',
 'city_Angwin',
 'city_Antelope',
 'city_Antioch',
 'city_Anza',
 'city_Apple Valley',
 'city_Applegate',
 'city_Aptos',
 'city_Arbuckle',
 'city_Arcadia',
 'city_Arcata',
 'city_Arlington',
 'city_Armona',
 'city_Arnold',
 'city_Aromas',
 'city_Arroyo Grande',
 'city_Artesia',
 'city_Arvin',
 'city_Ashford',
 'city_Ashland',
 'city_Astoria',
 'city_Atascadero',
 'city_Athena',
 'city_Atwater',
 'city_Auberry',
 'city_Auburn',
 'city_Aumsville',
 'city_Aurora',
 'city_Avalon',
 'city_Avenal',
 'city_Avery',
 'city_Avila Beach',
 'city_Azalea',
 'city_Azusa',
 'city_Bainbridge Island',
 'city_Baker',
 'city_Baker City',
 'city_Bakersfield',
 'city_Baldwin Park',
 'city_Ballico',
 'city_Bandon',
 'city_Bangor',
 'city_Banks',
 'city_Banning',
 'city_Barstow',
 'city_Bass Lake',
 'city_Battle Ground',
 'city_Bay Area',
 'city_Bay Center',
 'city_Bay City',
 'city_Bayside',
 'city_Beale Afb',
 'city_Beaumont',
 'city_Beavercreek',
 'city_Beaverton',
 'city_Belfair',
 'city_Bell',
 'city_Bella Vista',
 'city_Bellevue',
 'city_Bellflower',
 'city_Bellingham',
 'city_Belmont',
 'city_Ben Lomond',
 'city_Bend',
 'city_Benicia',
 'city_Benton City',
 'city_Berkeley',
 'city_Bethel',
 'city_Bethel Island',
 'city_Beverly Hills',
 'city_Bickleton',
 'city_Bieber',
 'city_Big Bear Lake',
 'city_Big Lake',
 'city_Big Pine',
 'city_Big Sur',
 'city_Biggs',
 'city_Biggs Junction',
 'city_Bingen',
 'city_Bishop',
 'city_Black Diamond',
 'city_Blaine',
 'city_Bloomington',
 'city_Blue Lake',
 'city_Blue River',
 'city_Bly',
 'city_Blythe',
 'city_Boardman',
 'city_Bodega Bay',
 'city_Bodfish',
 'city_Bolinas',
 'city_Bonanza',
 'city_Bonita',
 'city_Bonney Lake',
 'city_Bonsall',
 'city_Boonville',
 'city_Boring',
 'city_Boron',
 'city_Borrego Springs',
 'city_Bothell',
 'city_Boulder Creek',
 'city_Bow',
 'city_Brawley',
 'city_Brea',
 'city_Bremerton',
 'city_Brentwood Ca',
 'city_Brewster',
 'city_Bridgeport',
 'city_Brinnon',
 'city_Brisbane',
 'city_Brooks',
 'city_Browns Valley',
 'city_Brownsville',
 'city_Brush Prairie',
 'city_Buckley',
 'city_Buellton',
 'city_Buena Park',
 'city_Burbank',
 'city_Burien',
 'city_Burlingame',
 'city_Burlington',
 'city_Burney',
 'city_Burns',
 'city_Butte Falls',
 'city_Butte Meadows',
 'city_Buttonwillow',
 'city_Byron',
 'city_Cabazon',
 'city_Calabasas',
 'city_Calexico',
 'city_Caliente',
 'city_California City',
 'city_Calimesa',
 'city_Calipatria',
 'city_Calistoga',
 'city_Camano Island',
 'city_Camarillo',
 'city_Camas',
 'city_Camas Valley',
 'city_Cambria',
 'city_Cameron Park',
 'city_Camino',
 'city_Camp Sherman',
 'city_Campbell',
 'city_Campo',
 'city_Camptonville',
 'city_Canby',
 'city_Cannon Beach',
 'city_Canoga Park',
 'city_Cantua Creek',
 'city_Canyon City',
 'city_Canyon Country',
 'city_Canyon Lake',
 'city_Canyonville',
 'city_Capay',
 'city_Capitola',
 'city_Captain Cook',
 'city_Carbonado',
 'city_Cardiff',
 'city_Carlotta',
 'city_Carlsbad',
 'city_Carlton',
 'city_Carmel',
 'city_Carmel Valley',
 'city_Carmichael',
 'city_Carnation',
 'city_Carnelian Bay',
 'city_Carpinteria',
 'city_Carson',
 'city_Caruthers',
 'city_Cascade Locks',
 'city_Cashmere',
 'city_Castaic',
 'city_Castle Rock',
 'city_Castro Valley',
 'city_Castroville',
 'city_Cathedral City',
 'city_Catheys Valley',
 'city_Cathlamet',
 'city_Cave Junction',
 'city_Cayucos',
 'city_Cazadero',
 'city_Cedar Glen',
 'city_Cedarville',
 'city_Central Point',
 'city_Centralia',
 'city_Ceres',
 'city_Cerritos',
 'city_Chattaroy',
 'city_Chehalis',
 'city_Chelan',
 'city_Chemult',
 'city_Cheney',
 'city_Chester',
 'city_Chewelah',
 'city_Chico',
 'city_Chilcoot',
 'city_Chiloquin',
 'city_Chimacum',
 'city_Chino',
 'city_Chino Hills',
 'city_Cholame',
 'city_Chowchilla',
 'city_Christmas Valley',
 'city_Chualar',
 'city_Chugiak',
 'city_Chula Vista',
 'city_Citrus Heights',
 'city_Clackamas',
 'city_Clallam Bay',
 'city_Claremont',
 'city_Clarksburg',
 'city_Clarkston',
 'city_Clatskanie',
 'city_Clayton',
 'city_Cle Elum',
 'city_Clearlake',
 'city_Clearlake Oaks',
 'city_Clements',
 'city_Clinton',
 'city_Clio',
 'city_Cloverdale',
 'city_Clovis',
 'city_Coachella',
 'city_Coalinga',
 'city_Coarsegold',
 'city_Cobb',
 'city_Colbert',
 'city_Cold Springs',
 'city_Coleville',
 'city_Colfax',
 'city_College Place',
 'city_Colton',
 'city_Columbia',
 'city_Colusa',
 'city_Colville',
 'city_Commerce',
 'city_Compton',
 'city_Conconully',
 'city_Concord',
 'city_Concrete',
 'city_Condon',
 'city_Connell',
 'city_Cool',
 'city_Cooper Landing',
 'city_Coos Bay',
 'city_Copper Center',
 'city_Copperopolis',
 'city_Coquille',
 'city_Corbett',
 'city_Corcoran',
 'city_Cordova',
 'city_Cornelius',
 'city_Corning',
 'city_Corona',
 'city_Corona Del Mar',
 'city_Coronado',
 'city_Corte Madera',
 'city_Corvallis',
 'city_Cosmopolis',
 'city_Costa Mesa',
 'city_Cotati',
 'city_Cottage Grove',
 'city_Cottonwood',
 'city_Coulee City',
 'city_Coulee Dam',
 'city_Coulterville',
 'city_Coupeville',
 'city_Courtland',
 'city_Cove',
 'city_Covelo',
 'city_Covina',
 'city_Covington',
 'city_Cowiche',
 'city_Craig',
 'city_Crescent',
 'city_Crescent City',
 'city_Crestline',
 'city_Creston',
 'city_Creswell',
 'city_Crockett',
 'city_Crows Landing',
 'city_Culver',
 'city_Culver City',
 'city_Cupertino',
 'city_Curlew',
 'city_Custer',
 'city_Cutler',
 'city_Cypress',
 'city_Daggett',
 'city_Dallas',
 'city_Daly City',
 'city_Damascus',
 'city_Dana Point',
 'city_Danville',
 'city_Darrington',
 'city_Davenport',
 'city_Davis',
 'city_Dayton',
 'city_Dayville',
 'city_Death Valley',
 'city_Deer Harbor',
 'city_Deer Park',
 'city_Del Mar',
 'city_Delano',
 'city_Delhi',
 'city_Delta Junction',
 'city_Deming',
 'city_Denair',
 'city_Denali National Park',
 'city_Descanso',
 'city_Desert Hot Springs',
 'city_Detroit',
 'city_Dexter',
 'city_Diamond Bar',
 'city_Diamond Springs',
 'city_Dillingham',
 'city_Dinuba',
 'city_Discovery Bay',
 'city_Dixon',
 'city_Donald',
 'city_Dorris',
 'city_Dos Palos',
 'city_Douglas',
 'city_Douglas City',
 'city_Downey',
 'city_Doyle',
 'city_Drain',
 'city_DuPont',
 'city_Duarte',
 'city_Dublin',
 'city_Ducor',
 'city_Dufur',
 'city_Dulzura',
 'city_Dundee',
 'city_Dunnigan',
 'city_Dunsmuir',
 'city_Durham',
 'city_Dutch Flat',
 'city_Dutch Harbor',
 'city_Duvall',
 'city_Eagle Creek',
 'city_Eagle Point',
 'city_Eagle River',
 'city_Earlimart',
 'city_Earp',
 'city_East Nicolaus',
 'city_East Wenatchee',
 'city_Easton',
 'city_Eastsound',
 'city_Eatonville',
 'city_Echo',
 'city_Edmonds',
 'city_Edwards AFB',
 'city_Eielson Air Force Base',
 'city_El Cajon',
 'city_El Centro',
 'city_El Cerrito',
 'city_El Dorado',
 'city_El Dorado Hills',
 'city_El Monte',
 'city_El Portal',
 'city_El Segundo',
 'city_El Sobrante',
 'city_Electric City',
 'city_Eleele',
 'city_Elgin',
 'city_Elk',
 'city_Elk Creek',
 'city_Elk Grove',
 'city_Elkton',
 'city_Ellensburg',
 'city_Elma',
 'city_Elmira',
 'city_Elverta',
 'city_Empire',
 'city_Encinitas',
 'city_Encino',
 'city_Enterprise',
 'city_Entiat',
 'city_Enumclaw',
 'city_Ephrata',
 'city_Escalon',
 'city_Escondido',
 'city_Esparto',
 'city_Estacada',
 'city_Ethel',
 'city_Etna',
 'city_Eugene',
 'city_Eureka',
 'city_Everett',
 'city_Everson',
 'city_Ewa Beach',
 'city_Exeter',
 'city_Fair Oaks',
 'city_Fairbanks',
 'city_Fairchild AFB',
 'city_Fairfax',
 'city_Fairfield',
 'city_Fairview',
 'city_Fall River Mills',
 'city_Fall city',
 'city_Fallbrook',
 'city_Falls City',
 'city_Fargher Lake',
 'city_Farmersville',
 'city_Farmington',
 'city_Fawnskin',
 'city_Federal Way',
 'city_Felton',
 'city_Ferndale',
 'city_Fife',
 'city_Fillmore',
 'city_Fircrest',
 'city_Firebaugh',
 'city_Florence',
 'city_Folsom',
 'city_Fontana',
 'city_Foothill Ranch',
 'city_Forest Falls',
 'city_Forest Grove',
 'city_Forest Knolls',
 'city_Foresthill',
 'city_Forestville',
 'city_Forks',
 'city_Fort Bragg',
 'city_Fort Irwin',
 'city_Fort Jones',
 'city_Fort Wainwright',
 'city_Fortuna',
 'city_Fossil',
 'city_Fountain Valley',
 'city_Fowler',
 'city_Frazier Park',
 'city_Freedom',
 'city_Freeland',
 'city_Fremont',
 'city_French Camp',
 'city_French Gulch',
 'city_Fresno',
 'city_Friant',
 'city_Friday Harbor',
 'city_Fullerton',
 'city_Gales Creek',
 'city_Galt',
 'city_Garberville',
 'city_Garden Grove',
 'city_Garden Valley',
 'city_Gardena',
 'city_Garibaldi',
 'city_Gasquet',
 'city_Gaston',
 'city_Gates',
 'city_Gaviota',
 'city_Gearhart',
 'city_George',
 'city_Georgetown',
 'city_Geyserville',
 'city_Gig Harbor',
 'city_Gilchrist',
 'city_Gilroy',
 'city_Girdwood',
 'city_Glacier View',
 'city_Gladstone',
 'city_Glen Ellen',
 'city_Glendale',
 'city_Glendora',
 'city_Gleneden Beach',
 'city_Glennville',
 'city_Glenwood',
 'city_Glide',
 'city_Gold Bar',
 'city_Gold Beach',
 'city_Gold Run',
 'city_Goldendale',
 'city_Gonzales',
 'city_Government Camp',
 'city_Graeagle',
 'city_Graham',
 'city_Granada Hills',
 'city_Grand Coulee',
 'city_Grand Ronde',
 'city_Grand Terrace',
 'city_Grandview',
 'city_Granger',
 'city_Granite Bay',
 'city_Granite Falls',
 'city_Grants Pass',
 'city_Grass Valley',
 'city_Graton',
 'city_Grayland',
 'city_Greenbank',
 'city_Greenfield',
 'city_Greenville',
 'city_Gresham',
 'city_Gridley',
 'city_Groveland',
 'city_Grover Beach',
 'city_Guadalupe',
 'city_Gualala',
 'city_Guerneville',
 'city_Gustine',
 'city_Hacienda Heights',
 'city_Haiku',
 'city_Haines',
 'city_Hakalau',
 'city_Haleiwa',
 'city_Half Moon Bay',
 'city_Halfway',
 'city_Halsey',
 'city_Hamilton City',
 'city_Hammond',
 'city_Hana',
 'city_Hanalei',
 'city_Hanapp',
 'city_Hanford',
 'city_Hansville',
 'city_Happy Camp',
 'city_Happy Valley',
 'city_Harbor City',
 'city_Harrah',
 'city_Harrington',
 'city_Harrisburg',
 'city_Hauula',
 'city_Hawaiian Gardens',
 'city_Hawi',
 'city_Hawthorne',
 'city_Hayfork',
 'city_Hayward',
 'city_Healdsburg',
 'city_Healy',
 'city_Heber',
 'city_Hebo',
 'city_Helendale',
 'city_Hemet',
 'city_Heppner',
 'city_Hercules',
 'city_Hermiston',
 'city_Hermosa Beach',
 'city_Hesperia',
 'city_Hickman',
 'city_Hidden Valley Lake',
 'city_Highland',
 'city_Hillsboro',
 'city_Hilmar',
 'city_Hilo',
 'city_Hines',
 'city_Hinkley',
 'city_Hollister',
 'city_Holtville',
 'city_Holualoa',
 'city_Homeland',
 'city_Homer',
 'city_Homewood',
 'city_Honaunau-Napoopoo',
 'city_Honokaa',
 'city_Honolulu',
 'city_Honomu',
 'city_Hood River',
 'city_Hoodsport',
 'city_Hoonah',
 'city_Hoopa',
 'city_Hope Valley',
 'city_Hopland',
 'city_Hoquiam',
 'city_Hubbard',
 'city_Hughson',
 'city_Hunters',
 'city_Huntington',
 'city_Huntington Beach',
 'city_Huntington Park',
 'city_Huron',
 'city_Idleyld Park',
 'city_Idyllwild',
 'city_Ilwaco',
 'city_Imperial',
 'city_Imperial Beach',
 'city_Independence',
 'city_Index',
 'city_Indian',
 'city_Indian Wells',
 'city_Indianola',
 'city_Indio',
 'city_Inglewood',
 'city_Inverness',
 'city_Inyokern',
 'city_Ione',
 'city_Irrigon',
 'city_Irvine',
 'city_Isleton',
 'city_Issaquah',
 'city_Ivanhoe',
 'city_Jackson',
 'city_Jacumba Hot Springs',
 'city_Jamestown',
 'city_Jamul',
 'city_Janesville',
 'city_Jefferson',
 'city_Jenner',
 'city_John Day',
 'city_Joint Base Lewis-McChord',
 'city_Jordan Valley',
 'city_Joseph',
 'city_Joshua Tree',
 'city_Julian',
 'city_Junction City',
 'city_June Lake',
 'city_Juneau',
 'city_Kaaawa',
 'city_Kahakuloa',
 'city_Kahuku',
 'city_Kahului',
 'city_Kailua-Kona',
 'city_Kake',
 'city_Kalaheo',
 'city_Kalama',
 'city_Kamuela',
 'city_Kaneohe',
 'city_Kapaa',
 'city_Kapolei',
 'city_Kasilof',
 'city_Kaumakani',
 'city_Kaunakakai',
 'city_Keaau',
 'city_Kealakekua',
 'city_Keene',
 'city_Kekaha',
 'city_Kelseyville',
 'city_Kelso',
 'city_Kenai',
 'city_Kenmore',
 'city_Kennewick',
 'city_Keno',
 'city_Kensington',
 'city_Kent',
 'city_Kentfield',
 'city_Kenwood',
 'city_Kerman',
 'city_Kernville',
 'city_Ketchikan',
 'city_Kettle Falls',
 'city_Kettleman City',
 'city_Keyes',
 'city_Keyport',
 'city_Kilauea',
 'city_King City',
 'city_King Salmon',
 'city_Kings Beach',
 'city_Kingston',
 'city_Kirkland',
 'city_Kittitas',
 'city_Klamath',
 'city_Klamath Falls',
 'city_Klickitat',
 'city_Knights Landing',
 'city_Kodiak',
 'city_Koloa',
 'city_Kualapuu',
 'city_Kurtistown',
 'city_La CaÃ±ada Flintridge',
 'city_La Center',
 'city_La Conner',
 'city_La Crescenta-Montrose',
 'city_La Grande',
 'city_La Grange',
 'city_La Habra',
 'city_La Honda',
 'city_La Jolla',
 'city_La Mesa',
 'city_La Mirada',
 'city_La Palma',
 'city_La Pine',
 'city_La Puente',
 'city_La Push',
 'city_La Quinta',
 'city_La Verne',
 'city_Lacey',
 'city_Ladera Ranch',
 'city_Lafayette',
 'city_Laguna Beach',
 'city_Laguna Hills',
 'city_Laguna Niguel',
 'city_Laguna Woods',
 'city_Lagunitas',
 'city_Lahaina',
 'city_Laie',
 'city_Lake Arrowhead',
 'city_Lake Elsinore',
 'city_Lake Forest',
 'city_Lake Hughes',
 'city_Lake Isabella',
 'city_Lake Los Angeles',
 'city_Lake Oswego',
 'city_Lake Stevens',
 'city_Lakebay',
 'city_Lakehead',
 'city_Lakeport',
 'city_Lakeside',
 'city_Lakeview',
 'city_Lakewood',
 'city_Lamont',
 'city_Lanai City',
 'city_Lancaster',
 'city_Landers',
 'city_Langley',
 'city_Langlois',
 'city_Larkspur',
 'city_Lathrop',
 'city_Lawndale',
 'city_Laytonville',
 'city_LeGrand',
 'city_Leaburg',
 'city_Leavenworth',
 'city_Lebanon',
 'city_Lebec',
 'city_Leggett',
 'city_Lemon Grove',
 'city_Lemoore',
 'city_Lewiston',
 'city_Liberty Lake',
 'city_Lihue',
 'city_Lincoln',
 'city_Lincoln Beach',
 'city_Lincoln City',
 'city_Lind',
 'city_Linden',
 'city_Lindsay',
 'city_Little River',
 'city_Littlerock',
 'city_Live Oak',
 'city_Livermore',
 'city_Livingston',
 'city_Lockeford',
 'city_Lodi',
 'city_Loleta',
 'city_Loma Linda',
 'city_Lomita',
 'city_Lompoc',
 'city_Lone Pine',
 'city_Long Beach',
 'city_Longview',
 'city_Loomis',
 'city_Loon Lake',
 'city_Lopez Island',
 'city_Lorane',
 'city_Los Alamitos',
 'city_Los Alamos',
 'city_Los Altos',
 'city_Los Angeles',
 'city_Los Banos',
 'city_Los Gatos',
 'city_Los Olivos',
 'city_Los Osos',
 'city_Lost Hills',
 'city_Lotus',
 'city_Lowell',
 'city_Lower Lake',
 'city_Loyalton',
 'city_Lucerne',
 'city_Lucerne Valley',
 'city_Lummi Island',
 'city_Lyle',
 'city_Lynden',
 'city_Lynnwood',
 'city_Lynwood',
 'city_Lyons',
 'city_Lytle Creek',
 'city_Mad River',
 'city_Madera',
 'city_Madison',
 'city_Madras',
 'city_Magalia',
 'city_Makawao',
 'city_Malibu',
 'city_Malin',
 'city_Mammoth Lakes',
 'city_Manhattan Beach',
 'city_Manson',
 'city_Manteca',
 'city_Manton',
 'city_Manzanita',
 'city_Maple Falls',
 'city_Mapleton',
 'city_Marblemount',
 'city_Marcola',
 'city_Maricopa',
 'city_Marina',
 'city_Marina Del Rey',
 'city_Marine Corps Base Hawaii (MCBH)',
 'city_Mariposa',
 'city_Marrowstone',
 'city_Martinez',
 'city_Marysville',
 'city_Mather',
 'city_Mattawa',
 'city_Maupin',
 'city_Maywood',
 'city_McArthur',
 'city_McCleary',
 'city_McCloud',
 'city_McFarland',
 'city_McKenna',
 'city_McKinleyville',
 'city_McMinnville',
 'city_Mead',
 'city_Meadow Valley',
 'city_Meadow Vista',
 'city_Mecca',
 'city_Medford',
 'city_Medical Lake',
 'city_Mendocino',
 'city_Mendota',
 'city_Menifee',
 'city_Menlo Park',
 'city_Mentone',
 'city_Merced',
 'city_Mercer Island',
 'city_Meridian',
 'city_Merlin',
 'city_Merrill',
 'city_Metaline Falls',
 'city_Mi-Wuk Village',
 'city_Midpines',
 'city_Mililani',
 'city_Mill City',
 'city_Mill Valley',
 'city_Millbrae',
 'city_Milpitas',
 'city_Milton',
 'city_Milton Freewater',
 'city_Milwaukie',
 'city_Mineral',
 'city_Mira Loma',
 'city_Miramonte',
 'city_Miranda',
 'city_Mission Hills',
 'city_Mission Viejo',
 'city_Mitchell',
 'city_Modesto',
 'city_Mojave',
 'city_Mokelumne Hill',
 'city_Molalla',
 'city_Monmouth',
 'city_Monroe',
 'city_Monrovia',
 'city_Montague',
 'city_Montara',
 'city_Montclair',
 'city_Monte Rio',
 'city_Montebello',
 'city_Montecito',
 'city_Monterey',
 'city_Monterey Park',
 'city_Montesano',
 'city_Montgomery Creek',
 'city_Montrose',
 'city_Moorpark',
 'city_Moraga',
 'city_Moreno Valley',
 'city_Morgan Hill',
 'city_Morongo Valley',
 'city_Morro Bay',
 'city_Morton',
 'city_Moses Lake',
 'city_Moss Beach',
 'city_Moss Landing',
 'city_Mossyrock',
 'city_Mount Angel',
 'city_Mount Baldy',
 'city_Mount Hood',
 'city_Mount Shasta',
 'city_Mount Vernon',
 'city_Mountain Center',
 'city_Mountain Ranch',
 'city_Mountain View',
 'city_Mountlake Terrace',
 'city_Moxee',
 'city_Mukilteo',
 'city_Mulino',
 'city_Murphys',
 'city_Murrieta',
 'city_Myers Flat',
 'city_Myrtle Creek',
 'city_Myrtle Point',
 'city_Naalehu',
 'city_Naches',
 'city_Naknek',
 'city_Napa',
 'city_Napavine',
 'city_Naselle',
 'city_National City',
 'city_Neah Bay',
 'city_Nehalem',
 'city_Neskowin',
 'city_Nevada City',
 'city_New Cuyama',
 'city_Newark',
 'city_Newberg',
 'city_Newberry Springs',
 'city_Newbury Park',
 'city_Newcastle',
 'city_Newman',
 'city_Newport',
 'city_Newport Beach',
 'city_Nicasio',
 'city_Nice',
 'city_Nine Mile Falls',
 'city_Ninilchik',
 'city_Nipomo',
 'city_Norco',
 'city_Normandy Park',
 'city_North Bend',
 'city_North Fork',
 'city_North Highlands',
 'city_North Hollywood',
 'city_North Plains',
 'city_North Pole',
 'city_North Powder',
 'city_North San Juan',
 'city_Northport',
 'city_Northridge',
 'city_Norwalk',
 'city_Novato',
 'city_Nuevo',
 'city_Nyssa',
 'city_O Brien',
 'city_Oak Harbor',
 'city_Oak Park',
 'city_Oak View',
 'city_Oakdale',
 'city_Oakhurst',
 'city_Oakland',
 'city_Oakley',
 'city_Oakridge',
 'city_Oakville',
 'city_Occidental',
 'city_Ocean Park',
 'city_Ocean Shores',
 'city_Ocean View',
 'city_Oceano',
 'city_Oceanside',
 'city_Ocotillo',
 'city_Odessa',
 'city_Ojai',
 'city_Okanogan',
 'city_Olalla',
 'city_Olga',
 'city_Olivehurst',
 'city_Olympia',
 'city_Omak',
 'city_Onalaska',
 'city_Ontario',
 'city_Orange',
 'city_Orange Cove',
 'city_Orangevale',
 'city_Orcas',
 'city_Oregon City',
 'city_Orick',
 'city_Orinda',
 'city_Orland',
 'city_Oro Grande',
 'city_Orondo',
 'city_Orosi',
 'city_Oroville',
 'city_Orting',
 'city_Othello',
 ...]

In [25]:
len(cities_col)

1547

In [26]:
#miscellaneous columns I want to keep that are VERY important
features  = ['zip_code', 'count', 'latitude', 'longitude', 'income']
len(features)

5

# 4 Main Lists that we want to use for our elastic net model
- categories
- percentage_col
- cities_col
- features

In [27]:
main_features = categories + percentage_col + cities_col + features
len(main_features)

2033

In [30]:
#sanity check 
len(set(main_features))

2033

# Creating dataframe with key numeric variables to prep for Elastic Net

In [31]:
elastic_df = df[main_features]
elastic_df.shape

(2373, 2033)

In [37]:
from sklearn.linear_model import ElasticNet
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline

In [33]:
#creating X and y
X = elastic_df.drop(labels = 'income', axis = 'columns')
y = elastic_df['income']

In [34]:
X.shape

(2373, 2032)

In [35]:
y.shape

(2373,)

# Elastic Gridsearch Time

In [40]:
pipe = Pipeline([
    ('e', ElasticNet())
])

pipe_params = {
    'e__alpha': [0, 0.05, 0.01],
    'e__l1_ratio': [0.92, 0.1, 0.8, 0.5],
   
}


gs = GridSearchCV(pipe, param_grid=pipe_params, cv=5, n_jobs = 3)


gs.fit(X, y)


print(gs.best_score_)
gs.best_params_

/Users/erinhwang/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

-0.21178597695682908

{'e__alpha': 0.01, 'e__l1_ratio': 0.8}

In [47]:
elastic = ElasticNet(alpha= 0.01, l1_ratio= 0.8)